.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-container {
  flex: 1; 
  display: flex;
  flex-direction: column;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: auto; /* Push the footer to the bottom */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
.property-container {
  display: flex;
  flex-wrap: wrap;  Allows wrapping to the next line if needed *
  justify-content: space-between; /* Ensures even spacing between boxes 
  margin: 0 auto;
  padding :20px} /* Centers the container */

 
  .property-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to the next line if needed */
    justify-content: space-evenly; /* Adds even spacing between the divs */
    margin: 0 70px; /* Increases left and right margins */
    padding: 5px 0; /* Adds vertical padding */
    gap: 0.2px; /* Minimizes the gap between individual divs */
  }
  





